<!-- CSS  -->
<link rel="stylesheet" type="text/css" href="../css/styles.css">

<div data-ng-controller="IngredienteCtrl as ctrl">

	<div>
		<ol class="breadcrumb">
			<li>Tamaño</li>
			<li>Ingredientes</li>
		</ol>
	</div>
	<div class="container">
		<h2 style="display: inline-block"> {{ctrl.promoSeleccionada}} 
		<small style="display: inline-block">{{ctrl.tamanioSeleccionado}}</small>
		</h2>
		<span class="label label-danger" style="display: inline-block">$105</span>
	</div>

	<div style="float: left; margin: 20px 50px"	ng-repeat="ingrediente in ctrl.ingredientesExtrasDisponibles">
		<h4>{{ingrediente.nombre}}</h4>
			<div class="form-check"	ng-repeat="distribucion in ctrl.distribuciones">
				<input	class="form-check-input" name = {{ingrediente.id}}= id= {{distribucion.id}} type="radio" onclick="">{{distribucion.nombre}}
			</div>
	</div>
	<button type="submit" class="btn btn-success">Continuar</button>
</div>

