<!-- CSS  -->
<link rel="stylesheet" type="text/css" href="../css/styles.css">

<div data-ng-controller="IngredienteCtrl as ctrl">

	<div>
		<ol class="breadcrumb">
			<li>Tamaño</li>
			<li>Ingredientes</li>
		</ol>
	</div>
	<div class="container">
		<h2 style="display: inline-block"> {{ctrl.promoSeleccionada.nombrePromo}} 
		<small style="display: inline-block">{{ctrl.tamanioSeleccionado.nombre}}</small>
		</h2>
	</div>

	<div style="float: left; margin: 20px 50px"	ng-repeat="ingrediente in ctrl.ingredientesExtrasDisponibles">
		<h4>{{ingrediente.nombre}}</h4>
			<div class="form-check"	ng-repeat="distribucion in ctrl.distribuciones">
				<input	class="form-check-input" name = {{ingrediente.id}} value="{{distribucion.id}}" type="radio" ng-model="ingrediente.distribucion_id">{{distribucion.nombre}}
			</div>
	</div>
	<br>
	<button type="submit" class="btn btn-success" ng-click= "ctrl.confirmarPedido()">Continuar</button>
</div>

