<!-- CSS  -->
<link rel="stylesheet" type="text/css" href="../css/styles.css">
<div data-ng-controller="elegirTamanioCtrl as ctrl">

	<div>
		<ol class="breadcrumb">
			<li>Tamanio</li>
		</ol>
	</div>

	<div class="panel panel-default ng-scope">
		<!-- Default panel contents -->
		<div class="panel-heading">
			<h3>{{ctrl.promoSeleccionada.nombrePromo}}</h3>
		</div>
		<!-- List group -->
		<ul class="list-group">
			<li ng-repeat="tamanio in ctrl.tamanios">
			<a ui-sref="agregarIngredientes" ng-click = "ctrl.elegirTamanio(tamanio.id)" class="list-group-item">
				<span>{{tamanio.nombre}}</span>
				<span class="badge">${{tamanio.precio * ctrl.promoSeleccionada.precioBase}}</span>
			</a>
			</li>
		</ul>
	</div>
</div>