<!-- CSS  -->
<link rel="stylesheet" type="text/css" href="../css/styles.css">

<div id="fullscreen_bg" class="fullscreen_bg" ng-controller="LoginCtrl as ctrl">

    <div class="wrapper">
        <form class="form-signin">
            <h2 class="form-signin-heading">Iniciar sesión</h2>
            <input type="text" class="form-control" name="usuario" placeholder="Usuario" required autofocus ng-model="ctrl.usuario"/>
            <input type="password" class="form-control" name="password" placeholder="Contraseña" required ng-model="ctrl.password"/>
            <button class="btn btn-lg btn-primary btn-block" ng-click="ctrl.login()">Iniciar Sesión</button>
            <br>
            <a ui-sref="register">Crear cuenta</a>
        </form>

    </div>

</div>