 <!-- CSS  -->
 <link rel="stylesheet" type="text/css" href="../css/styles.css">

    <div id="fullscreen_bg" class="fullscreen_bg" />

    <div class="wrapper">
        <form class="form-signup">
            <h2 class="form-signup-heading">Registrarse</h2>
            <input type="text" class="form-control" name="usuario" placeholder="Usuario" required="" autofocus="" />
            <input type="password" class="form-control" name="password" placeholder="Contraseña" required="" />
            <input type="password" class="form-control" name="password2" placeholder="Repita contraseña" required="" />
            <input type="text" class="form-control" name="name" placeholder="Nombre" required="" />
            <input type="text" class="form-control" name="mail" placeholder="Mail" required="" />
            <input type="text" class="form-control" name="address" placeholder="Dirección" required="" />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Registrarse</button>
            <br>
            <a ui-sref="crearPedido">O puedes ingresar como INVITADO</a>
        </form>
    </div>